.detail {
    margin: 3rem auto;
    width: 95%;
    max-width: 30rem;
    border-radius: 6px;
    background-color: #d9d8d8;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    color: #000000;
}

.product_img_div{
    width: 60%;
    margin: 1rem auto;
}

.product_img_div img{
    width: 100%;
    background-size: cover;
}