:root {
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 500ms;
}

.header {
    height: 5rem;
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #9eff00;
}

.logo {
    font-size: 2rem;
    color: red;
    font-weight: bolder;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav li {
    margin-left: 3rem;
    font-size: 1.25rem;
}

.nav a {
    color: purple;
    font-weight: bolder;
    text-decoration: none;
}

.nav a:hover,
.nav a:active,
.nav a.active {
    color: #001ff6;
    font-weight: bolder;
    border-bottom: 4px solid #0040ff;
}

.dropdownItem{
    display: flex;
    margin: 10px auto;
}

.dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
}

.dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
}

.dropdownItem a:hover{
    font-weight: bold;
    cursor: pointer;
}