.header {
    height: 5rem;
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #9eff00;
}

.logo {
    font-size: 2rem;
    color: red;
    font-weight: bolder;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav li {
    margin-left: 1.5rem;
    font-size: 1.25rem;
}

.nav a {
    text-decoration: none;
    color: #88dfdf;
}

.nav a:hover,
.nav a:active,
.nav a.active {
    color: #e6fcfc;
}