.main h1 {
    text-align: center;
}

.innerDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgDiv {
    width: 40%;
}

.imgDiv>img {
    width: 100%;
    background-size: cover;
}