.itemForm {
    margin: 3rem auto;
    width: 95%;
    max-width: 30rem;
    border-radius: 6px;
    background-color: #a5a5a5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    color: #000000;
}